
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Blog Leaderboard, <%= @user.name %></h1>
    <p>
      You have successfully connected to Google Analytic,
      and your data is being process and will be populated.
    </p>
    <p>
      Head to this link to to see the leaderboard:  <a href="<%= @url %>"><%= @url %></a> .
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>
