<h1 class="ui header">
  <%if current_user.view_id%>
    <h2>If you like to update your View ID please replace the ID below and update</h2>

  <%else%>

    <h2>Please provide your Google Analytic View ID to connect and update</h2>
  <%end%>
</h1>
